---
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
  CardFooter,
  CardContent,
} from '@/components/ui/card'
import type { Project } from '@/db/schema'
import { Button, buttonVariants } from '@/components/ui/button'
import { CalendarIcon } from 'lucide-vue-next'
import { formatDate } from '@/lib/formatters'

interface Props {
  project: Project
}

const { project } = Astro.props
const headers = Astro.request.headers
const locale = headers.get('accept-language')?.split(',').at(0)
---

<Card>
  <CardHeader>
    <CardTitle>{project.title}</CardTitle>
    <CardDescription>{project.description}</CardDescription>
  </CardHeader>

  <CardContent>
    <div class="flex space-x-4 text-sm text-muted-foreground">
      <div class="flex items-center">
        <CalendarIcon class="mr-1 h-4 w-4 text-orange-600" />
        {
          project.dueDate ? (
            <time datetime={project.dueDate}>
              {formatDate(project.dueDate, locale)}
            </time>
          ) : (
            <span class="italic">No due date</span>
          )
        }
      </div>
    </div>
  </CardContent>

  <CardFooter>
    <Button asChild>
      <a
        href={`/projects/${project.id}`}
        class:list={[buttonVariants({ variant: 'outline' }), 'w-full']}
        >Show all tasks</a
      >
    </Button>
  </CardFooter>
</Card>
