# Better Auth configuration
BETTER_AUTH_URL=http://localhost:4321
BETTER_AUTH_SECRET=your_secret_key_here

# Database configuration
POSTGRES_USER=quadranto
POSTGRES_PASSWORD=quadranto
POSTGRES_HOST=localhost
POSTGRES_DB=quadranto
POSTGRES_PORT=5432

# Drizzle migrations
AUTO_MIGRATE=true