---
import App from '@/layouts/App.astro'

const user = Astro.locals.user
if (!user) {
  return Astro.redirect('/login')
}
---

<App title="Dashboard">
  <h1 class="text-2xl">Dashboard</h1>

  <a href="/projects">Projects</a>
</App>
