---
import App from '@/layouts/App.astro'
import Main from '@/layouts/Main.astro'
---

<App title="Dashboard">
  <Main heading="Dashboard">
    <p class="text-xl text-muted-foreground">
      There is no dashboard yet... ;-)
    </p>
  </Main>
</App>
