---
import App from '@/layouts/App.astro'
import Main from '@/layouts/Main.astro'
---

<App title="Settings">
  <Main heading="Settings" scrollable={true}>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio necessitatibus
    veritatis voluptas a, quidem reiciendis, commodi deserunt consectetur ullam,
    aperiam ad voluptatibus saepe fuga obcaecati! Odio quasi voluptas facere
    architecto, expedita tempore fuga dolorem deserunt dolore voluptatum
    deleniti enim aliquam praesentium cupiditate cumque ut quis recusandae.
    Tempora adipisci amet harum animi, minima dicta quas nisi et error! Ipsam
    enim, dolore aut illum consequatur quas. Adipisci quas praesentium, voluptas
    quibusdam error eveniet eos sapiente animi quaerat ipsa saepe, quisquam
    dolore! Atque facere, maiores tempore ratione excepturi labore inventore
    vitae eos ullam est optio a placeat expedita aperiam voluptatem? Reiciendis
    qui tenetur, suscipit iure tempora ex dicta nostrum ab, id, impedit facere
    explicabo possimus adipisci asperiores corporis officia illum omnis
    similique ad tempore numquam et maiores temporibus aliquid. Optio
    perferendis, minima ipsa iste harum iusto! Dolore voluptatibus repellendus
    adipisci earum, perferendis, voluptatem provident ipsam, in cupiditate
    tenetur quo laboriosam illo voluptates accusamus facilis porro maxime
    voluptas explicabo nesciunt nam quaerat? Quod repellat ipsa, magnam ab, quos
    asperiores quas natus quam alias illo, sunt impedit. Cum repudiandae fugiat
    at voluptate suscipit voluptas? Animi vel modi quae sint rerum itaque culpa
    at dolorum architecto facere necessitatibus omnis quas fugit, cum officia
    commodi ab. In accusamus totam aperiam neque. Molestiae provident quasi quis
    veritatis maxime, aperiam tempore, tenetur sunt quibusdam assumenda porro
    modi excepturi dignissimos voluptates recusandae at saepe maiores aut
    quaerat in nulla ullam sed! Totam et aperiam, nihil eum sed at non
    dignissimos voluptas reiciendis explicabo animi vitae consequuntur? Beatae
    atque repudiandae ducimus unde pariatur velit vel at maxime asperiores porro
    neque esse quisquam fugit soluta quo ad dolor, aspernatur aperiam officia
    nulla delectus quos! Autem, aperiam! Corrupti repellat error aspernatur fuga
    adipisci sed aliquam neque eligendi ullam, at modi consequatur omnis quae
    quos sunt asperiores delectus, ex eveniet quod praesentium cumque. Iste
    corporis asperiores similique facere eius iure deserunt et, architecto
    recusandae officia nisi, ratione quae nesciunt rem perspiciatis, porro ipsa!
    Explicabo corporis eligendi dolorum? Quasi laborum inventore et reiciendis
    explicabo perferendis officiis? Quia at distinctio fugit debitis sunt
    consequuntur ab, repudiandae soluta! Cupiditate odio ipsa, aliquid sapiente
    quis, qui velit recusandae maiores eum dolores nesciunt vel enim libero
    animi debitis, molestiae quam aperiam! Nemo, reiciendis. Voluptate non velit
    modi molestiae maiores sunt omnis facere similique, soluta tenetur vero
    consequatur labore voluptatem accusantium laboriosam aperiam iure cumque
    porro veniam corporis doloribus magni ipsum! Consequuntur, tenetur harum
    alias iure ex ratione consectetur minima totam dolore quaerat blanditiis
    molestiae at nemo sapiente minus quis. Voluptatibus vero eius laborum
    reiciendis mollitia commodi cum sit delectus dolor similique laudantium quo
    eveniet, necessitatibus, quod dolore. Aperiam provident unde earum, laborum
    accusamus voluptatum laudantium exercitationem voluptas? Libero quis,
    expedita molestiae sunt, aliquid laudantium molestias eius reiciendis
    blanditiis odit harum, reprehenderit quas error eaque officiis tenetur. Rem,
    quae. Consectetur, laboriosam debitis! Quia dolorem possimus accusamus
    maxime maiores architecto nobis laborum ducimus placeat corrupti, est nemo
    tempora soluta praesentium totam omnis voluptatum quasi repudiandae, ut esse
    earum eligendi similique eaque! Quas impedit id fugit sequi perferendis et
    voluptates neque animi quaerat libero error debitis magni autem ratione
    temporibus, dolore excepturi sint minus consectetur quidem. Suscipit ea
    minus ipsum provident? Quo placeat labore dolorem blanditiis earum maxime
    enim consequuntur nam quidem culpa eos, iure hic quis vitae amet
    consectetur, ad ut rerum quos beatae reprehenderit doloremque quisquam!
    Laboriosam necessitatibus, id aspernatur modi voluptate odio excepturi?
    Dicta cum vero labore modi explicabo fugit numquam iure ipsum corporis
    veniam molestiae laudantium sunt odit atque rerum necessitatibus quam qui
    accusamus soluta dolorum laborum officia ut, dolore a! Expedita vitae
    ratione corporis voluptatibus, minima accusantium quaerat aspernatur odio
    recusandae, repellendus possimus veritatis vero iure atque rem ipsam,
    nostrum cumque beatae! Consequatur, laboriosam officiis architecto
    doloremque, corrupti nihil doloribus possimus fugit suscipit laudantium
    distinctio quisquam quidem repudiandae. Quasi placeat dolor voluptatum.
    Cupiditate aut, nostrum, dolores accusamus repellat aliquid tenetur sunt,
    perspiciatis officia maxime ratione repudiandae vel molestias voluptatem.
    Architecto, unde? Voluptas aspernatur excepturi iste doloribus deleniti
    ducimus laudantium modi explicabo dolor quam pariatur blanditiis numquam
    perspiciatis nihil omnis consequatur perferendis, ipsa nemo! Minima
    asperiores similique provident, eaque officia dolores consequuntur nobis
    saepe ab iusto enim distinctio molestias accusantium nam voluptates
    voluptatum quae, sed voluptatem amet, fuga ex? Accusamus in iste sequi
    molestiae, aut, alias quidem eveniet excepturi aliquam assumenda reiciendis
    facere adipisci voluptatum molestias fugiat dignissimos sunt commodi veniam
    odio perferendis doloremque. Consectetur ducimus, modi velit cum iusto sequi
    atque expedita itaque mollitia quidem exercitationem, maiores inventore sint
    repudiandae delectus assumenda similique laboriosam ab! Totam, voluptas
    impedit. Corrupti exercitationem sed sit, adipisci aliquam fuga libero ipsa
    quisquam quae laudantium hic accusantium, id debitis quod necessitatibus
    architecto deserunt tenetur, beatae a molestiae harum? At placeat,
    aspernatur laborum soluta sapiente expedita repellat quod, et illo vitae
    repellendus. Sapiente repellendus recusandae tenetur. Explicabo ipsam vero
    quas dolorem deserunt nemo earum id maxime consequatur mollitia impedit
    rerum dolorum soluta tenetur nulla, eveniet sapiente quia officiis laborum,
    illo repellendus alias! Laborum, sunt! Cum dolore veritatis atque veniam
    quae harum quo soluta possimus ad debitis voluptatum ducimus qui dolorem
    placeat quis iusto minus molestias sint, pariatur, natus libero ratione
    error fugit! Recusandae quae labore corporis maiores, illo officia aperiam
    temporibus velit earum, quisquam iste nam sunt accusamus, nostrum quasi! Est
    ad maiores aut assumenda officia iste molestias minus. Quos beatae, magni
    eos earum molestiae, labore tempore assumenda adipisci iusto cum porro
    doloremque quam, ipsam reprehenderit quisquam velit ut id quis perferendis
    voluptates! Eius illum dignissimos ut exercitationem doloribus quasi odit
    minima, laborum quaerat aspernatur ipsam hic consequuntur repudiandae quae
    voluptatibus incidunt quisquam voluptatum necessitatibus? Delectus eaque,
    facere magnam quisquam voluptate corporis exercitationem sunt aut.
    Assumenda, ipsam numquam? Suscipit mollitia impedit pariatur eaque a quod,
    amet rem id. Soluta ea porro architecto corporis vero veniam perferendis non
    unde aperiam! Ipsum commodi nemo adipisci dolor unde enim molestias alias,
    est labore laborum earum ex, ipsa cumque non numquam dolorem voluptates,
    soluta asperiores maiores architecto officiis repellat? Animi facere
    suscipit architecto nesciunt nobis odit quia quidem consectetur voluptates
    quam quaerat, illo ipsa magni sunt perspiciatis reiciendis, optio esse
    itaque ex! Quis, sed a ab deserunt suscipit ducimus quia amet sit,
    aspernatur laboriosam rerum deleniti? Molestiae ipsam magnam obcaecati ut.
    Facilis, ducimus quisquam eveniet, minus natus architecto molestias rerum
    veniam id explicabo libero, itaque dolor placeat tempore consectetur
    sapiente vel laudantium. Voluptatum quisquam tempore voluptate in
    laudantium, ipsam magni unde aliquid deleniti dicta cupiditate voluptas
    iusto amet maxime fugit sint incidunt provident alias labore culpa totam
    quibusdam? Atque, sit autem. Deleniti deserunt modi, quod placeat dicta quia
    rerum recusandae minima temporibus nostrum in sapiente a, id quae,
    distinctio quasi quidem illum aspernatur voluptatum explicabo molestias.
    Provident aliquam reprehenderit tempora vitae voluptas! Non doloremque autem
    debitis veniam culpa eius quia commodi? Culpa consequatur, cumque quaerat ea
    ducimus molestiae ab tenetur veniam expedita asperiores adipisci suscipit
    odit pariatur quia ex minus nesciunt iure dolore sed in eveniet porro
    recusandae. Optio ipsum vel obcaecati, corrupti assumenda quaerat quis
    cumque voluptatum voluptates deleniti expedita necessitatibus nobis
    repellendus laudantium explicabo, minima omnis ut, at impedit dignissimos
    vero eos beatae repudiandae? Placeat recusandae animi eveniet, dolorum quia
    perferendis. Soluta cumque, debitis facere ipsam vitae doloribus sunt
    accusamus necessitatibus at vero. Vero in magnam amet. Voluptates quidem
    laudantium eos? Aliquam veritatis eligendi commodi, doloribus soluta
    corporis? Ducimus nemo fugiat perferendis est, accusamus quidem. Tempore
    deleniti consequuntur, expedita voluptates esse nihil amet, fugiat quas
    inventore mollitia assumenda dolores, magnam dolore illum perspiciatis
    voluptas dolorum veniam. Molestiae assumenda unde at? Asperiores sed non,
    culpa quia aperiam dicta pariatur, rem debitis rerum neque odio sequi autem,
    fuga officiis tempore et voluptate eum! Pariatur obcaecati, temporibus ullam
    error ex totam ad, quis, dolorum blanditiis voluptates hic doloremque
    quibusdam recusandae nobis earum odit dicta similique iusto? Veniam, omnis
    deleniti doloremque optio obcaecati consequatur non, dolor dolore voluptates
    est in illo culpa sunt laboriosam natus consequuntur cupiditate accusamus
    officia inventore. Facere nihil molestias neque provident assumenda laborum
    facilis voluptatem tenetur, velit reiciendis illum. Sapiente ab tenetur
    repudiandae quasi aliquam provident corporis nemo placeat ea, quam obcaecati
    maxime laudantium quidem recusandae accusamus quo, sunt autem nulla.
    Adipisci sint deserunt quibusdam soluta et reprehenderit alias molestias vel
    tempore veniam non accusamus sunt debitis repellat modi expedita ea ipsam
    asperiores magnam quam iure, laudantium eum. Necessitatibus facilis
    consequuntur exercitationem iusto libero! Blanditiis molestias quod tempore
    fugit eos nulla quaerat, optio vitae, eligendi sint expedita, incidunt rem
    voluptatibus quasi obcaecati. Accusamus qui repellendus autem consectetur
    eligendi incidunt corrupti odio deserunt velit. Voluptatem fugit aliquid
    illo ducimus nostrum delectus asperiores vitae laudantium magnam est rerum
    voluptatum, quidem eveniet quam earum eos ipsum magni error maiores
    consectetur. Similique, explicabo. Deserunt provident voluptatibus natus
    officiis laborum suscipit nulla! Earum, impedit minima? Quibusdam veniam,
    aut reiciendis laudantium vero cumque asperiores tempore quo corrupti sequi
    recusandae doloribus doloremque quaerat rerum quae earum reprehenderit quos
    mollitia, voluptas natus! Alias reprehenderit numquam quas! Voluptatibus
    error quaerat accusantium distinctio deserunt necessitatibus neque quam
    dolor magnam. Eius molestias quos aspernatur rem quaerat voluptates
    voluptatem fugit beatae soluta sint? Inventore nam eaque ducimus, in dolor
    nulla ad itaque consequatur vel asperiores, sequi consequuntur hic
    cupiditate veritatis dignissimos obcaecati maxime dolorum ex! Magni eius
    perferendis illo porro totam eaque perspiciatis velit incidunt tempora non!
    Soluta, ratione ipsum molestias praesentium quae architecto unde
    voluptatibus adipisci quia tenetur, magnam dicta numquam officia voluptates
    esse in, nesciunt optio commodi debitis delectus facere accusantium amet.
    Quam pariatur inventore ad cumque illo. Porro corporis harum quasi
    perspiciatis. Perferendis ex nostrum dolores! Ipsa accusamus quaerat
    voluptates aliquam omnis dolorem tempora, ex a perspiciatis ipsam, voluptas
    hic praesentium beatae ut ratione assumenda? Velit quo illo eveniet dolore
    aspernatur magnam corrupti. Quam ea modi atque eaque placeat adipisci quis
    officiis rem. At, omnis. Eveniet debitis repudiandae suscipit nam.
    Doloremque in eos sint neque tenetur delectus voluptatum culpa sunt eveniet
    quisquam consequuntur exercitationem, quidem ipsum. Aut pariatur cum modi
    magnam asperiores magni, repudiandae aperiam, consequatur impedit cumque
    placeat veritatis earum laudantium tempora officiis quas nostrum sed
    corrupti inventore doloremque. Debitis quas maxime veniam nihil explicabo
    maiores dicta fugiat quisquam deleniti at, quidem ab, ex expedita.
    Repudiandae sed quasi cumque, repellendus nisi sint eos culpa optio
    dignissimos molestias qui laboriosam, velit tempora autem quos quia id odit
    dicta. Natus placeat voluptatibus, excepturi velit iure suscipit molestiae.
    Provident vitae possimus tempora deleniti, illo aliquam ullam, excepturi
    sint non nihil sit nulla ex ipsa vel mollitia repellendus a necessitatibus
    dolorum. Sit officia quibusdam ab illo, consequatur eos ea asperiores.
    Sapiente dolor modi ut necessitatibus excepturi aperiam cumque ipsam
    dignissimos saepe expedita officia, doloremque blanditiis omnis consequuntur
    amet molestias nulla nostrum ab alias? Animi praesentium unde minima sit in
    obcaecati inventore officiis aliquam reiciendis, natus fugiat expedita neque
    doloribus cum. Fugit culpa nemo velit unde delectus, incidunt nulla sequi,
    quasi sed facere animi quia aperiam rerum distinctio perferendis impedit,
    suscipit odio eaque voluptatum eos deleniti? Nihil distinctio nesciunt quos
    a soluta libero fugit assumenda perferendis consequatur, atque culpa cumque
    veniam nemo! Modi recusandae, est quaerat rerum nemo nihil itaque voluptatem
    nobis tempore? Asperiores officia perferendis qui modi repudiandae maxime
    impedit voluptatum optio similique amet delectus ea commodi praesentium
    quisquam culpa nesciunt eum, quibusdam, facilis dolorem! Atque, eaque? Est
    commodi, numquam obcaecati voluptatum consectetur omnis distinctio soluta
    quisquam explicabo nam minus rem quibusdam fuga doloribus, fugit repellendus
    ad sed quasi harum quas eveniet dolor molestiae! Voluptate maiores esse eum
    odio perferendis culpa architecto aliquid sapiente corporis nobis
    consequuntur dicta suscipit modi iusto expedita alias sint repellat
    praesentium id corrupti, deleniti officia assumenda facilis! Necessitatibus
    quas quia dolor error eaque officia, repellat, labore rerum voluptates harum
    fuga cum dolores illum soluta. Excepturi soluta odio, tenetur quam ad
    perspiciatis magnam et. Minus ab nulla dolor mollitia vitae praesentium,
    quas eaque quod laboriosam reprehenderit explicabo cumque. Facilis error
    corporis consequuntur voluptate ipsum aut. Eos ipsum laboriosam enim
    voluptate dolore necessitatibus delectus consequuntur! Sit sint sed nihil
    similique officiis, eveniet voluptatem dolorum est voluptatum veniam vitae
    iste omnis placeat eum, harum labore quos quasi esse earum dolore, mollitia
    repellendus! Sit doloremque necessitatibus vero molestiae reprehenderit
    obcaecati nostrum, voluptatum, voluptatibus aspernatur veniam incidunt
    vitae, omnis quas magnam. Ab cumque quidem accusamus illo commodi molestias
    neque. Commodi explicabo delectus amet doloribus. Iusto, molestiae nam?
  </Main>
</App>
