---
import App from '@/layouts/App.astro'
import Main from '@/layouts/Main.astro'
---

<App title="Settings">
  <Main heading="Settings" scrollable={true}>
    <p class="text-xl text-muted-foreground">
      There are no settings yet... ;-)
    </p>
  </Main>
</App>
