---
import App from '@/layouts/App.astro'
import Main from '@/layouts/Main.astro'
import { listProjects, getProject } from '@/db/client/projects'
import { listTasksForProject } from '@/db/client/tasks'
import Quadrants from '@/components/tasks/Quadrants.vue'

const { id } = Astro.params
if (!id) return Astro.redirect('/projects')

const { user } = Astro.locals
const project = await getProject(id, user!.id)

if (!project) return Astro.redirect('/404')

const allTasks = await listTasksForProject(project.id, user!.id)

const projects = await listProjects(user!.id)
---

<App title={project.title}>
  <Main initialProjects={projects} addPadding={false}>
    <Quadrants initialTasks={allTasks} />
  </Main>
</App>
