---
import App from '@/layouts/App.astro'
import { getProject } from '@/db/client/projects'
import { listTasksForProject } from '@/db/client/tasks'

const { id } = Astro.params
if (!id) return Astro.redirect('/projects')

const { user } = Astro.locals
const project = await getProject(id, user!.id)

if (!project) return Astro.redirect('/404')

const allTasks = await listTasksForProject(project.id, user!.id)
---

<App title={project.title}>
  <h2 class="text-3xl">Project</h2>

  <pre class="whitespace-pre-wrap">{JSON.stringify(project, null, 2)}</pre>

  <h2 class="text-3xl">Tasks</h2>

  <pre class="whitespace-pre-wrap">{JSON.stringify(allTasks, null, 2)}</pre>
</App>
