---
import { eq } from 'drizzle-orm'
import { db } from '@/db'
import { projects, tasks, profilesToProjects } from '@/db/schema'
import App from '@/layouts/App.astro'

const { id } = Astro.params

if (!id) return Astro.redirect('/404')

const project = await db.select().from(projects).where(eq(projects.id, id))
const allTasks = await db.select().from(tasks).where(eq(tasks.projectId, id))
const owners = await db.query.profilesToProjects.findMany({
  where: eq(profilesToProjects.projectId, id),
  with: {
    profile: true,
  },
})
---

<App title={project[0].title}>
  <h2 class="text-3xl">Project</h2>

  <pre class="whitespace-pre-wrap">{JSON.stringify(project, null, 2)}</pre>

  <h2 class="text-3xl">Tasks</h2>

  <pre class="whitespace-pre-wrap">{JSON.stringify(allTasks, null, 2)}</pre>

  <h2 class="text-3xl">Owners</h2>

  <pre class="whitespace-pre-wrap">{JSON.stringify(owners, null, 2)}</pre>
</App>
