---
import Empty from '@/components/projects/Empty.astro'
import { listProjects } from '@/db/client/projects'
import ProjectCard from '@/components/projects/ProjectCard.astro'
import App from '@/layouts/App.astro'
import Main from '@/layouts/Main.astro'

const { user } = Astro.locals
const projects = await listProjects(user!.id)
---

<App title="Projects">
  <Main heading="Projects" initialProjects={projects}>
    {
      projects.length ? (
        <div class="mt-4 @container/project">
          <div class="grid grid-cols-1 gap-4 @2xl/project:grid-cols-2 @5xl/project:grid-cols-3 @8xl/project:grid-cols-4">
            {projects.map((project) => (
              <ProjectCard project={project} />
            ))}
          </div>
        </div>
      ) : (
        <Empty />
      )
    }
  </Main>
</App>
