---
import '@/styles/globals.css'

interface Props {
  title?: string
}

const { user } = Astro.locals
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {title ? `${title} | quadranto.cloud` : 'quadranto.cloud'}
    </title>
  </head>
  <body>
    <div>
      <p>Hi, {user!.username}!</p>
      <form method="post" action="/api/logout">
        <button>Sign out</button>
      </form>
    </div>
    <slot />
  </body>
</html>

<script>
  document.forms[0].addEventListener('submit', async (e) => {
    e.preventDefault()
    const formElement = e.target as HTMLFormElement
    await fetch(formElement.action, {
      method: formElement.method,
      body: new FormData(formElement),
    })
    window.location.href = '/login'
  })
</script>
